* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    body {
        background-color: $background-color;
        font-family: cursive;
        // padding-bottom: 3em;
        // min-height: 100%;
        // position: relative;
        main {
            margin: 0 100px;
        }
        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            .copyright {
                background-color: $base-color;
                padding: 3px;
                p {
                    font-style: italic;
                    margin: 0;
                }
            }
        }
    }
}
